

/*-- scss:defaults --*/
// Base document colors
$body-bg: #1c1c1d;
$body-color: white;
$link-color: #2698ba;

$footer-fg: white;
$footer-bg: #121213;

$font-family-sans-serif: "Roboto";

$navbar-fg: white;
$navbar-bg: #1c1c1d;

// Code blocks
$code-block-bg-alpha: -.8;