
/*-- scss:defaults --*/
// Base document colors
$body-bg: #eaeff4;
$body-color: #10171f;
$link-color: #991f7d;

$footer-fg: #10171f;
$footer-bg: #dde5ee;

$navbar-fg: #10171f;
$navbar-bg: #dde5ee;

$font-family-sans-serif: "Roboto";

// Code blocks
$code-block-bg-alpha: .8;