
/*-- scss:defaults --*/
// Base document colors
$body-bg: #f5f6fa;
$body-color: #1e1b4b;
$link-color: #4f46e5;

$footer-fg: #1e1b4b;
$footer-bg: #eaebf5;

$navbar-fg: #1e1b4b;
$navbar-bg: #eaebf5;

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Code blocks
$code-block-bg-alpha: .8;