
/*-- scss:defaults --*/
// Base document colors
$body-bg: #f7f9fb;
$body-color: black;
$link-color: #ba2698;

$footer-fg: black;
$footer-bg: #eaeff4;

$navbar-fg: black;
$navbar-bg: #f7f9fb;

$font-family-sans-serif: "Roboto";

// Code blocks
$code-block-bg-alpha: .8;